/* Global */
body {
    font-family: "SF Display";
    background-color: #F4F5F9;
}

@font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("../font/SF-UI-Display-Regular.otf");
    font-display: fallback;
}

.container {
    margin-bottom: 80px;
}

section {
    margin-bottom: 30px;
}

section>.title {
    text-align: center;
    color: #313C4E;
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 17px;
    font-weight: 700;
}

.make-it-horizontal {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

hr:not(.end) {
    border-top: 1px solid #EAEAEC;
    margin-top: 4px;
    margin-bottom: 4px;
}

hr.end {
    padding: 2px;
    background-color: #d6d9df;
    border-radius: 15px;
    width: 40%;
    margin-top: 30px;
    border-top: unset;
}

a {
    color: #5468FF;
    border-bottom: .5px solid #5468FF;
}

a:hover {
    text-decoration: none;
}

.un-text-d_>a {
    border-bottom: unset;
}

button[type=submit] {
    width: 100%;
}

button.direct {
    color: #5468FF;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    outline: none;
    width: max-content;
    background-color: unset;
}

button.btn.primary {
    padding: 8px;
    background-color: #5468FF;
    box-shadow: 0px 5px 15px 6px #5468ff40;
    border-radius: 15px;
    display: flex;
}

button.btn.primary>.label {
    margin: 10px 0px;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    width: 100%;
    position: relative;
    left: 15px;
}

button.btn.primary>.btn {
    border-radius: 10px;
    background-color: #3A55F0;
    width: 50px;
    height: 45px;
    color: #FFF;
    margin-left: 8px;
    transition: 0.3s background-color;
}

button.btn.primary>.btn:hover {
    cursor: pointer;
    background-color: #7d8aed;
}

button.btn.primary>.btn>img.icon {
    width: 20px;
    position: relative;
    top: 2px;
}

.form-title, .page-title {
    margin-top: 20px;
    font-size: 1.1rem;
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: 600;
    color: #313C4E;
}

.form-guide {
    margin: 5px auto;
    max-width: 70%;
    text-align: center;
    color: #39425B;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}

.form-group {
    padding: 10px 20px 10px 20px;
    margin-bottom: unset;
}

input.form-control {
    padding: unset;
    font-weight: 600;
    font-size: 21px;
    border: none;
    color: #2B324E;
}

input.form-control::placeholder {
    font-weight: 600;
    color: #D3D6DB;
    font-size: 21px;
    letter-spacing: 0.2px;
}

input.form-control:focus {
    border-color: unset;
    box-shadow: unset;
}

form>.form {
    box-shadow: 0px 5px 15px 6px #0000000d;
    background-color: #FFF;
    border-radius: 15px;
}

form>.form>.form-group>label:first-child {
    padding-top: 10px;
}

form>.form>.form-group>label:not(.form-check-label) {
    margin-bottom: 8px;
}

form>.form>.form-group>label.form-label {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #74788C;
}

form>.form>.form-group>span {
    color: #74788C;
}

form>.footer {
    text-align: center;
    margin-top: 35px;
    letter-spacing: 0.3px;
    font-size: 1.1rem;
}

form>.footer:not(a) {
    color: #39425B;
}

span.counter {
    margin-left: 7px;
    padding: 1px 9px;
    border-radius: 15px;
    color: #fff;
    background-color: #3CC9C3;
}

.alert {
    text-align: center;
}

.alert>h4 {
    color: #313C4E;
    font-weight: 600;
}

.alert>.alert-body {
    color: #666C78;
    font-size: 18px;
    margin: 0px auto;
    width: calc(100%/1.5);
}

img {
    animation: .1s ease-in-out fade;
}

@keyframes fade {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.middle-scr {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.middle-btm {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.d-grid {
    min-height: 89vh;
    display: grid;
    text-align: center;
}
.d-grid>div {
    margin: auto 15px;
}
/* End Global */

/* NavBar */
nav.main-menu.navbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 5px 15px 6px #0000000d;
    height: 60px;
}

nav.main-menu.navbar>a.nav-link {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    transition: .2s color, .1s background-color, .1s ease-in-out;
    margin: 0px auto;
    border-radius: 50%;
}

nav.main-menu.navbar>a.nav-link.active {
    background-color: #f3f1f1;
}

nav.main-menu.navbar>a.nav-link>.menu-icon {
    margin: auto;
    height: 25px;
}

nav.main-menu.navbar>a.nav-link.nav-account>.menu-account {
    border-radius: 50%;
    background-color: #EAEAEA;
    width: 25px;
}
/* End NavBar */

/* Header */
header {
    padding: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}

header .welcome {
    text-align: center;
    color: #313C4E;
    width: 60%;
    margin: auto;
}

input:focus {
    outline: none;
}

.input-wrapper {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 5px 15px 6px #0000000d;
    border-radius: 15px;
    padding: 8px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.input-wrapper>input.keyword {
    margin: 5px;
    border: none;
    width: 100%;
    color: #393939;
    font-weight: 500;
}

.input-wrapper>button.search {
    border-radius: 10px;
    background-color: #5468FF;
    width: 50px;
    height: 45px;
    color: #FFF;
    margin-left: 8px;
}

.input-wrapper>button.search:hover {
    cursor: pointer;
}

.input-wrapper>button.search>img {
    width: 19px;
    position: relative;
    top: -2px;
}

header div.apps {
    margin: 20px auto 0px auto;
    width: max-content;
}

header div.apps div.links .app {
    display: flex;
    margin: auto 10px;
    border-radius: 15px;
    padding: 15px;
    color: initial;
    background-color: #FFF;
    box-shadow: 0px 5px 15px 6px #0000000d;
    text-align: center;
}

header div.apps div.links .app:hover {
    text-decoration: none;
    cursor: pointer;
}

header div.apps div.links .app img.app-icon {
    height: 30px;
    margin-right: 10px;
}

header div.apps div.links .app span {
    margin: auto;
}
/* End Header */

/* Section Style */
.options {
    box-shadow: 0px 13px 15px 6px #edeef2;
}

.option {
    background-color: #fff;
    border-radius: 15px;
    margin-right: 15px;
    box-shadow: 0px 5px 15px 6px #0000000d;
    width: 180px;
}

.option img {
    width: 180px;
    background-color: #eaeaea;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.option img:hover {
    cursor: pointer;
}

.option>.body {
    padding: 20px;
}

.option>.body>.desc {
    font-size: 14px;
    font-weight: 700;
    color: #5468FF;
}

.option>.body>.desc:hover {
    cursor: pointer;
}

.option>.body>.title {
    margin: 15px 0px;
    color: #393939;
    font-weight: 500;
    font-size: 20px;
}

.option>.body>.title:hover {
    cursor: pointer;
}

.option>.body>.price {
    font-size: 14px;
    font-weight: 700;
    color: #798086;
}
/* End Section Style */

/* Section Suggested */
.suggested {
    box-shadow: 0px 13px 15px 6px #edeef2;
    border-radius: 15px;
}

.product-item-min {
    background-color: #FFF;
    box-shadow: 0px 5px 15px 6px #0000000d;
    width: max-content;
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px;
}

.product-item-min * {
    width: 140px;
    overflow: hidden;
}

.product-item-min>.img>img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.product-item-min>.img>img:hover {
    cursor: pointer;
}

.product-item-min>.body>.title {
    width: max-content;
    margin: 15px 0px;
    color: #393939;
    font-weight: 500;
}

.product-item-min>.body>.title:hover {
    cursor: pointer;
}

.product-item-min>.body>.desc {
    font-size: 14px;
    font-weight: 700;
    color: #5468FF;
}

.product-item-min>.body>.price {
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    color: #798086;
}
/* End Section Suggested */



.city {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #5468FF;
    font-size: 16px;
    margin-top: 4px;
    padding-top: 0.35714rem !important;
    padding-bottom: 0.35714rem !important;
    letter-spacing: 0;
}

.h_ {
    height: max-content;
    margin: 15px;
    border-radius: 15px;
}

.h_>a.category-menu {
    border-radius: 15px;
    padding: 10px 30px;
    background-color: #FFF;
    box-shadow: 0px 13px 15px 6px #edeef2;
    margin-right: 10px;
    border: 1px solid #cacaca;
    color: #393939;
    letter-spacing: 0.5px;
}

.h_>a.category-menu.active {
    background-color: #5468FF;
    color: #FFF;
}

.ch>.sub-category {
    box-shadow: 0px 5px 15px 6px #0000000d;
    width: max-content;
    border-radius: 15px;
    background-color: #FFF;
    padding: 20px;
}

.ch>.sub-category>.name {
    color: #393939;
    font-weight: 500;
    text-shadow: 0px 0px 0.5px #686969;
    font-size: 20px;
}

.ch>.sub-category>.desc {
    color: #878787;
    font-size: 17px;
}

.ch>.ch-f {
    border-radius: 15px;
    padding: 10px;
    width: 10px;
    background-color: #FFF;
    position: relative;
    box-shadow: 0px 20px 15px 6px #0000000d;
    top: -12px;
    left: 25px;
}


.product-item {
    margin: 18px 0px;
    background-color: #FFF;
    box-shadow: 0px 5px 15px 6px #0000000d;
    border-radius: 15px;
}

.product-item>.img>img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #eaeaea;
    width: 100%;
    height: auto;
    box-shadow: 0px 6px 11px 0px #0000002b;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-item>.body>.title {
    font-size: 23px;
    padding: 20px 20px 10px 20px;
    color: #393939;
}

.product-item>.body>.desc {
    padding: 10px 20px 10px 20px;
    font-size: 17px;
    letter-spacing: 0.4px;
    color: #c0c0c0;
}

.product-item>.body>.price {
    color: #393939;
    padding: 10px 20px 20px 20px;
    font-weight: 500;
    font-size: 20px;
}

.search-result {
    margin-bottom: 30px;
}

.search-result>.product {
    box-shadow: 0px 5px 15px 6px #0000000d;
    background-color: #fff;
    display: flex;
    border-radius: 15px;
    width: 100%;
    height: max-content;
}

.search-result>.product>.img {
    padding: 20px;
}

.search-result>.product>.img>img {
    width: 160px;
    background-color: #eaeaea;
}

.search-result>.product>.body {
    padding: 20px 20px 20px 0px;
}

.search-result>.product>.body>.desc {
    font-size: 14px;
    font-weight: 700;
    color: #5468FF;
}

.search-result>.product>.body>.title {
    margin: 15px 0px;
    color: #393939;
    font-weight: 500;
    font-size: 20px;
}

.search-result>.product>.body>.price {
    font-size: 14px;
    font-weight: 700;
    color: #798086;
}

.header-account {
    margin: 40px 15px 0px 15px;
}

.header-account>.account {
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin: 0px auto 10px auto;
}

.header-account>.account>img.avatar {
    border-radius: 50%;
    width: 108px;
    height: 108px;
    background-color: #F1F0F6;
    margin: auto;
    border: 6px solid #fff;
    box-shadow: 0px 5px 15px 6px #00000005;
}

.header-account>.account>.user-info>.name {
    font-weight: 600;
    font-size: 20px;
    color: #313C4E;
}

.tabs {
    display: flex;
    border-radius: 15px;
    background-color: #FFF;
    height: 45px;
    text-align: center;
    margin-top: 10px;
}

.tabs>a {
    width: 105px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 11px 8px;
    position: relative;
    height: 100%;
    transition: 0.2s box-shadow;
}

.tabs>a:not(.active) {
    color: #666C78;
}

.tabs>a.active {
    color: #2C343F;
    box-shadow: 0px 10px 15px 0px #5468ff12;
}

.tabs>a:first-child {
    border-right: 1px solid #F1F0F6;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.tabs>a:nth-child(2) {
    border-right: 1px solid #F1F0F6;
}

.tabs>a:nth-child(3) {
    border-right: 1px solid #F1F0F6;
}

.tabs>a:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.account-body {
    margin-top: 15px;
    margin-bottom: 80px;
}


.account-body>.orders>.list-group,
.account-body>.notifications>.list-group {
    margin: 0px 15px;
    border-bottom: 1px solid #cac7c7;
    padding: 20px 15px;
    flex-direction: row;
    transition: .1s ease-in-out background-color;
}

.account-body>.orders>.list-group:first-child,
.account-body>.notifications>.list-group:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.account-body>.orders>.list-group:last-child,
.account-body>.notifications>.list-group:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: unset;
}

.account-body>.orders>.list-group.readed-0,
.account-body>.notifications>.list-group.readed-0 {
    background-color: #b3e5fc;
    font-weight: 600;
}

.account-body>.orders>.list-group.readed-1,
.account-body>.notifications>.list-group.readed-1 {
    background-color: #fff;
}

.account-body>.orders>.list-group>.details,
.account-body>.notifications>.list-group>.details {
    width: 90%;
}

.account-body>.orders>.list-group.readed-1>.details>.time,
.account-body>.notifications>.list-group.readed-1>.details>.time {
    color: #777;
}

.account-body>.orders>.list-group.readed-0>.details>.time,
.account-body>.notifications>.list-group.readed-0>.details>.time {
    color: #313c4e;
}

.account-body>.orders>.list-group>.action,
.account-body>.notifications>.list-group>.action {
    width: 10%;
    margin: auto;
}

.account-body>.orders>.list-group>.action>.icon,
.account-body>.notifications>.list-group>.action>.icon {
    width: 17px;
    float: right;
    margin-left: 10px;
}


.order-confirm {
    display: flex;
    padding: 15px;
    background-color: #FFF;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 15px 6px #0000000d;
}

.order-confirm>.question {
    margin-right: 10px;
}

.order-confirm>.delete {
    color: #DC3545;
    margin: auto;
}

.order-confirm>.go-back {
    color: #5468FF;
    text-align: right;
    margin-right: 10px;
}

.order-summary {
    box-shadow: 0px 5px 15px 6px #0000000d;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    animation: .1s ease-in-out fade;
}
@keyframes fade {
    0% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.order-summary>.consumer-name {
    font-weight: 600;
    font-size: 18px;
    color: #2B324E;
    padding: 20px 20px 10px 20px;
}

.order-summary>.body {
    font-size: 17px;
    color: #2B324E;
    padding: 10px 20px 10px 20px;
    flex: 1 1 auto;
    min-height: 1px;
}

.order-summary>.body .price {
    margin-bottom: 10px;
}

.order-summary>.body .flex {
    display: flex;
}

.order-summary>.body .flex>span {
    width: 50%;
}

.order-summary>.body .flex>span:last-child {
    text-align: right;
}


.notifications>.details {
    background-color: #FFF;
    box-shadow: 0px 5px 15px 6px #0000000d;

    width: 100%;
    border-radius: 15px;
    padding: 30px 20px;

    animation: .1s ease-in-out fade;
}

@keyframes fade {
    0% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

.notifications>.details>.subject {
    font-size: 20px;
    margin-bottom: 10px;
    color: #5468FF;
}

.notifications>.details>.message {
    letter-spacing: 1.1px;
    word-spacing: 3.5px;
    font-size: 16px;
    line-height: 25px;
}

.notifications>.details>.time {
    color: #777;
}

.notifications>.details>.action {
    text-align: right;
    margin-top: 10px;
}

.notifications>.details>.action>span:last-child {
    margin-left: 20px;
    margin-right: 10px;
}

.notifications>.details>.action>span.delete {
    color: #dc3545;
}

.notifications>.details>.action>span.go-back {
    color: #5468FF;
}


.settings {
    box-shadow: 0px 5px 15px 6px #0000000d;
    border-radius: 15px;
    background-color: #FFF;
}

.settings>.list-group {
    margin-bottom: 10px;
    flex-direction: row;
    transition: .1s ease-in-out background-color;
    padding: 10px 20px 10px 20px;
}

.settings>.list-group:first-child {
    padding: 35px 20px 10px 20px;
}

.settings>.list-group:last-child {
    padding: 10px 20px 35px 20px;
}

.settings>.list-group>.img>img.icon {
    width: 55px;
    height: 55px;
    padding: 7px;
    background-color: #AEB8FF;
    border-radius: 50%;
}

.settings>.list-group>.details {
    width: 90%;
    margin: 0px 15px;
}

.settings>.list-group>.details>.name {
    color: #2B324E;
}

.settings>.list-group>.details>.desc {
    color: #777;
}

.settings>.list-group>.action {
    width: 10%;
    margin: auto 10px;
}

.settings>.list-group>.action>.icon {
    width: 17px;
    float: right;
    margin-left: 10px;
}


.settings>.details {
    background-color: #FFF;
    margin-bottom: 10px;
    padding: 35px 25px;
    border-radius: 15px;
    animation: .1s ease-in-out fade;
}

.settings>.details>.action {
    margin-top: 10px;
    text-align: right;
}

.settings>.details>.action>span.go-back {
    color: #5468FF;
}


.nav-checkout {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    display: flex;
    background-color: #FFF;
    height: 61px;
    position: fixed;
    bottom: -2px;
    padding: 0.7rem;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 5px 15px 6px #0000000d;
}

.nav-checkout>.go-checkout {
    left: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.nav-checkout>.go-checkout>img.troley-icon {
    height: 28px;
}

.nav-checkout>.go-checkout>.text {
    color: #676767;
    display: flex;
    align-items: center;
}

.nav-checkout>.go-checkout>a>.icon {
    width: 28px;
    height: 1rem;
    position: relative;
    top: 2px;
}

.progress-event {
    z-index: 1;
    background-color: #eaeaea;
    border-radius: 20px;
}

.loaded {
    height: 3.5px;
    border-radius: 20px;
    background-color: #00E3D1;
    transition: .3s width;
}

button.close {
    position: relative;
    top: 2px;
    right: 5%;
    outline: none;
}

.cart-item {
    box-shadow: 0px 5px 15px 6px #0000000d;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 15px;
    background-color: #FFF;
}

.cart-item>.image {
    text-align: center;
}

.cart-item>.image img {
    height: 200px;
    background-color: #eaeaea;
}

.cart-item>.body>.name {
    height: 65px;
    overflow-y: hidden;
    color: #393939;
    font-weight: 500;
    font-size: 20px;
    margin: 15px 0px;
}

.cart-item>.counter {
    box-shadow: 0px 5px 15px 6px #0000000d;
    border-radius: 15px;
    display: flex;
    width: max-content;
    margin: 20px auto 0px auto;
    background-color: #EAEAEA;
}

.cart-item>.counter>button {
    background-color: #5468FF;
    padding: 8px;
    width: 37px;
    height: 35px;
}

.cart-item>.counter>button.minus {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cart-item>.counter>button.plus {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cart-item>.counter>input {
    color: #3A55F0;
    text-align: center;
    border: none;
    font-weight: 500;
    font-size: 20px;
    background-color: transparent;
}

.cart-item>.counter>button>.icon {
    height: 14px;
    position: relative;
    top: -5px;
    background-color: transparent;
}

.order-success {
    background-image: url('../img/svg/congrats.svg');
    background-size: contain;
}
